@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #1e1f24;
  --primary: #fff;
  --secondary: #f4f5f9;
  --accent: #6944c5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background: #d3d0e1;
  color: var(--text);
  /* height: 100vh; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h_100 {
  height: 100%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin-top: 1.25rem;
  cursor: pointer;
  background: var(--secondary);
  line-height: 48px;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
}